.active-table-bar {
    background-color: var(--main-cta-color);
}

.active-row {
    background-color: var(--lighter-main-cta-color);
}

.active-row-other {
    background-color: var(--lighter-main-cta-color-hover);
}