@import "tailwindcss";

@layer base {

    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-semibold;
    }

    h3 {
        @apply text-2xl font-medium;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-base text-gray-600;
    }

    .dark-theme {
        --background-color: #162228;
        --text-color: #faf9f6;
        --text-color-hover: #dedede;

        --main-cta-color: #019ce0;
        --main-cta-color-hover: #00b9f2;
        --main-cta-text-color: #faf9f6;

        --lighter-main-cta-color: #0a384c;
        --lighter-main-cta-color-hover: #002530;

        --sub-cta-color: #ff8800;
        --sub-cta-color-hover: #ffb157;
        --sub-cta-text-color: #0b1215;

        background-color: var(--background-color);
        color: var(--text-color);
    }

    .light-theme {
        --background-color: #f5f5f5;
        --text-color: #0e171b;
        --text-color-hover: #4d4d4d;

        --main-cta-color: #019ce0;
        --main-cta-color-hover: #00b9f2;
        --main-cta-text-color: #faf9f6;

        --lighter-main-cta-color: #66d0fe;
        --lighter-main-cta-color-hover: #b0edff;

        --sub-cta-color: #ff8800;
        --sub-cta-color-hover: #ffb157;
        --sub-cta-text-color: #0b1215;

        background-color: var(--background-color);
        color: var(--text-color);
    }

    .editor-onedark-theme {
        background-color: #282c35;
    }

    .editor-light-theme {
        background-color: #f5f5f5;
        color: #0e171b;
    }

    option {
        background-color: var(--lighter-main-cta-color);
        color: var(--text-color);
    }
}

.icon-button {
    font-size: 24px;
}

.text-icon {
    font-size: 20px;
}

.text-button {
    color: var(--text-color);
}

.text-button:hover {
    color: var(--text-color-hover);
}

.main-cta-button {
    border: 0;
    background-color: var(--main-cta-color);
    color: var(--main-cta-text-color);
}

.main-cta-button:hover {
    background-color: var(--main-cta-color-hover);
}

.sub-cta-button {
    border: 0;
    background-color: var(--sub-cta-color);
    color: var(--sub-cta-text-color);
}

.sub-cta-button:hover {
    background-color: var(--sub-cta-color-hover);
}


.active-feature {
    background-color: var(--sub-cta-color);
}

.active-feature:hover {
    background-color: var(--sub-cta-color-hover);
}

.active-menu-bar {
    background-color: var(--main-cta-color);
}

.active-menu-bar:hover {
    background-color: var(--main-cta-color-hover);
}